*.egg
*.egg-info/
*.pyc
*.pyo
*.sublime-*
.coverage
.env
.gradle/
.idea/
.tox*
.venv*
/*/*pinned.txt
/*/MANIFEST
/*/activate
/*/build/
/*/coverage.xml
/*/dist/
/*/htmlcov/
/build/
/config/
/dist/
/gradle
/ligradle/
TEST-*.xml
.settings
bin
node_modules
project/project/target
project/target
target
src/main/resources/app-ui/dist
.cache-main
.classpath
.project
.cache-tests
.DS_Store
parlementaire_vragen/
