.body{
  background-color: RGB(244,248,249) !important;
}

.navbar-default {
    height: 100px;
    background-color: RGB(51,60,71);
}

.navbar-default .navbar-header {
  width: 70%;
  align-self: center;
}

.navbar-default .navbar-header .navbar-brand{
  padding-top: 40px;
  color: #FFFFFF !important;
  font-size: 40px !important;
  height: 50px !important;
}

.navbar-default .navbar-header .navbar-brand .BeBrand {
  color: RGB(255,153,3);
}

.Search {
  height: 70px;
}

.GraphWrapper {
  height: 700px;
}

.Sidebar {
  height: 700px;
}

.GraphWrapper .dropdown-menu{
  width: 100%;
}

.GraphWrapper .Filter{
  padding-bottom: 10px;
}


